@import "../components/styles/mixins.scss";
@import "../components/styles/variables.scss";

body {
  margin: 0px 0px 0px 0px;
}
.main__container {
  width: 100%;
}
.buy__ {
  &container {
    display: flex;
    margin-top: 120px;
    display: flex;
    justify-content: center;
  }
  &title {
    @include DTTitle;
    text-align: left;
    margin-right: 111px;
  }
  &description {
    &-list {
      @include DTMedium;
      list-style-type: none;
      padding: 0;
    }
    &-item {
      font-family: Inter;
      font-size: 16px;
      font-weight: 700;
      line-height: 22px;
      letter-spacing: 0px;
      text-align: left;
      color: #292929;
      margin-top: 16px;
    }
    &-text {
      font-family: Inter;
      font-size: 16px;
      font-weight: 400;
      line-height: 27px;
      letter-spacing: 0px;
      text-align: left;
      color: #292929;
      margin-top: 40px;
    }
  }
}
.footer__photo {
  width: 100%;
  margin-top: 120px;
}

@media (max-width: 1100px) {
  .buy__ {
    &container {
      max-width: 650px;
      margin-left: 13%;
      margin-right: 10%;
    }
    &title {
      font-size: 35px;
      width: 450px;
    }
    &description-list {
      font-size: 10px;
    }
  }
}

@media (max-width: 630px) {
  .buy__ {
    &container {
      max-width: 400px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-inline: auto;
      &-block {
        display: block;
      }
    }
    &title {
      font-size: 30px;
      max-width: 80%;
      display: inline;
      margin-inline: 20%;
      padding-inline: auto;
    }
    &description {
      &-list {
        margin-top: 40px;
        font-size: 8px;
        padding-inline: 5%;
      }
      &-text {
        padding-inline: 5%;
      }
    }
  }
}
