@import "../../../components/styles/mixins.scss";
@import "../../../components/styles/variables.scss";

.product__ {
  &title {
    @include DTMedium;
    margin-top: 32px;
  }
  &description {
    @include DTSmall;
    margin-top: 8px;
  }
  &price {
    @include DTMedium;
    margin-top: 8px;
  }
}


@media (max-width: 1100px) {
  .product__ {
    &card {
    padding-right: 50px;
    }
    &description, &title, &price {
      margin-left: 10%;
    }
    
  }
}

@media (max-width: 630px) {
  .product__ {
    &card {
    padding-right: 2%;
    }
    &img{
      width: 100%;
    }
    &title {
      margin-top: 0px;
    }
    &description, &title, &price {
      margin-left: 10%;
      font-size: 15px;
    }
    
  }
}