.Category__ {
  &container {
    justify-content: center;
  }
  &img-container {
    display: flex;
    margin-top: 64px;
    gap: 24px;
    padding-inline: 20px;
  }

  &description {
    font-family: Inter;
    font-size: 24px;
    font-weight: 700;
    line-height: 34px;
    letter-spacing: 0px;
    text-align: left;
    color: #292929;
    margin-top: 16px;
  }
}

@media (max-width: 1100px) {
  .Category__ {
    &container {
      margin-inline: 5%;
    }
    &img {
      min-width: 20%;
      max-width: 60%;
    }
    &img-container {
      display: flex;
    }
    &description {
      margin-left: 20px;
    }
  }
}

@media (max-width: 630px) {
  .Category__ {
    &container {
      max-width: 80%;
    }
    &img {
      min-width: 20%;
      max-width: 60%;
      min-height: 20%;
      max-height: 60%;
    }
    &img1 {
      margin-right: 5px;
    }
    &img-container {
      display: flex;
      padding: 0;
     margin-top: 5px;
    }
    &description {
      margin-left: 10px;
      font-size: 15px;
    }
  }
}
